@import "tailwindcss";
@plugin "daisyui" {
  themes: night;
}

@theme {
  --font-sans: "Inter", system-ui, -apple-system, sans-serif;
}

body {
  min-height: 100vh;
}

.layout-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}
